.home-container {
  width: 100%;
  margin: auto;
  position: absolute;
}
.home-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e02041;
  padding: 5px 0;
}
.home-container header {
  display: flex;
  align-items: center;
  gap: 900px;
}
.home-container h2 {
  color: #fff;
}
.nav-link a{
  color: #fff;
  padding: 10px;
}
.baner {
  height: 400px;
  background: #1A1D33;
  margin-bottom: 30px;
}
.baner div {
  display: grid;
  justify-content: center;
  text-align: center;
}
.baner div h1{
  padding-top: 130px;
  padding-bottom: 20px;
}
.baner div h1, p {
  color: #FFF;
}
.baner p {
  font-weight: 600;
  font-size: 20px;
}
.baner p span {
  color: #e02041;
}